<%- include('../includes/admin_navbar.ejs') %>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          New Resource
        </h1>
        <%- include ("../partials/messages") %>
        <form action="/admin/resource/compose" method="POST">
          <div class="form-group">
            <label for="title">Title</label>
            <input
              type="text"
              id="title" 
              name="title"
              class="form-control"
              placeholder="Enter Resource Title"
              value="<%= typeof title != 'undefined' ? title : '' %>"
            />
          </div>
          <div>
            <label for="description">description</label>
            <textarea
              type="text"
              id="description"
              name="description"
              placeholder="Enter Resource description"
              class="form-control"
              value="<%= typeof description != 'undefined' ? description : '' %>"
            ></textarea>
          </div>
          <div>
            <label for="link">link</label>
            <textarea
              type="link"
              id="link"
              name="link"
              placeholder="Enter Resource link"
              class="form-control"
              value="<%= typeof link != 'undefined' ? link : '' %>"
            ></textarea>
          </div>
          <button type="submit" class="btn btn-success btn-block mt-4">
            Add Resource
          </button>
        </form>
      </div>
    </div>
  </div>
  
   <!-- <h1>Hellow</h1> -->